[submodule "submodules/IsaacLab"]
	path = submodules/IsaacLab
	url = git@github.com:isaac-sim/IsaacLab.git
	branch = release/3.0.0-beta2
[submodule "submodules/IsaacLab-Arena"]
	path = submodules/IsaacLab-Arena
	url = git@github.com:isaac-sim/IsaacLab-Arena.git
